{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script",
    "ecmaFeatures": {}
  },
  "globals": {
    "console": true,
    "require": true,
    "define": true,
    "$": true,
    "_": true,
    "F": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "strict": [1, "function"],
    "valid-jsdoc": [1],
    // disable rules from base configurations
    "no-console": [0],
    // We allow unused args
    "no-unused-vars": [2, {"args": "none"}]
  }
}
